﻿@{
    Layout = null;
}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Login - Admin PCS</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!--base css styles-->
    <link rel="stylesheet" href="@Url.Content("~/assets/bootstrap/bootstrap.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/assets/bootstrap/bootstrap-responsive.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/assets/font-awesome/css/font-awesome.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/assets/normalize/normalize.css")">

    <!--page specific css styles-->

    <!--flaty css styles-->
    <link rel="stylesheet" href="@Url.Content("~/css/flaty.css")">
    <link rel="stylesheet" href="@Url.Content("~/css/flaty-responsive.css")">

    <link rel="shortcut icon" href="@Url.Content("~/img/favicon.png")">

    <script src="@Url.Content("~/assets/modernizr/modernizr-2.6.2.min.js")"></script>
</head>
<body class="login-page skin-black">
    <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

    <!-- BEGIN Main Content -->
    <div class="login-wrapper">
        <!-- BEGIN Login Form -->
        <form id="form-login" action="@Url.Action("Index","Login")" method="post">
            @Html.AntiForgeryToken()
            <div style="text-align:center;">
                <img src="@Url.Content("~/Content/images/pushmedia_logo.png")" /><br />
                <h4>Login to People Counting Solutions</h4>
            </div>
            
            <hr />
            <div class="control-group">
                <div class="controls">
                    <input value="" id="txtuser" name="txtuser" type="text" placeholder="Username" class="input-block-level" autocomplete="off" />
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <input value="" id="txtpass" name="txtpass" type="password" placeholder="Password" class="input-block-level" autocomplete="off" />
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn btn-primary input-block-level">Sign In</button>
                </div>
            </div>
            @if (ViewBag.message_error != null){
                <div class="alert alert-error">
                    <button class="close" style="top:-40px;" data-dismiss="alert">&times;</button>
                    <strong>Error!</strong> @ViewBag.message_error.
                </div>
            }
        </form>
        <!-- END Login Form -->
    </div>
    <!-- END Main Content -->

    <!--basic scripts-->

    <script>window.jQuery || document.write('<script src="@Url.Content("~/assets/jquery/jquery-1.10.1.min.js")"><\/script>')</script>
    <script src="@Url.Content("~/assets/bootstrap/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/assets/nicescroll/jquery.nicescroll.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/assets/jquery-validation/dist/jquery.validate.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/assets/jquery-validation/dist/additional-methods.min.js")"></script>

    <script src="@Url.Content("~/js/flaty.js")"></script>
    <script>
        $('#txtuser').focus();
    </script>
</body>
</html>

