﻿@model TKFINV.Web.inventory



    @*@Html.DropDownListFor(Model => Model.FactoryCode, (List<SelectListItem>)ViewBag.FactorySelectList, "Select");

    <br />


    @Html.DropDownListFor(Model => Model.ProductModelCode, (List<SelectListItem>)ViewBag.ProductModelSelctList, "Select");

    <br />

    @Html.TextAreaFor(Model => Model.quantity)*@
 test

    <button name="Cancel" class="btn btn-warning">ยกเลิก</button>


<script>

    $("button[name=Cancel]").click(function () {
        var trEdit = $(this).parent('tr');
        trEdit.hide();
        
        var trTarOrg = trEdit.prev('tr');
        trTarOrg.show();


       @*$.ajax({
           url: '@Url.Action("EditInventory", "Inventory")',
           data: { ID: '10' }
       }).done(function (result) {
           trTarget.html(result);
       });*@

        //alert("Ok");
       });
</script>