﻿@{
    ViewBag.Title = "Inventory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css{


<link rel="stylesheet" type="text/css" href="@Url.Content("~/assets/bootstrap-daterangepicker/daterangepicker.css")">
<link rel="stylesheet" type="text/css" href="@Url.Content("~/assets/bootstrap-datepicker/css/datepicker.css")">

}


@if (ViewBag.Success != null && (bool)ViewBag.Success)
{

    <div class="alert alert-success">
        <button class="close" data-dismiss="alert">×</button>
        <strong>สำเร็จ!</strong> บันทึกข้อมูลเรียบร้อยแล้ว
    </div>
}


<!-- BEGIN Page Title -->
<div class="page-title">
    <div>
        <h1><i class="icon-home"></i>Inventory</h1>
    </div>


</div>


    <div class="box">
        <div class="box-title">
            <h3><i class="icon-reorder"></i> Simple Form</h3>
            <div class="box-tool">
                <a data-action="collapse" href="#"><i class="icon-chevron-up"></i></a>
                
            </div>
        </div>
        <div class="box-content">
            <form  method="post" class="form-horizontal">

                <div class="control-group">
                    <label class="control-label">โรงงาน</label>
                    <div class="controls">
                        <select class="input-large" tabindex="1" name="FactoryCode">
                            @{
                                List<TKFINV.Web.factory> factoryList = (List<TKFINV.Web.factory>)ViewBag.factoryList;
                                                            }
                            @foreach (var item in factoryList)
                            {
                                <option value="@item.Code">@item.description</option>
                            }
                            
                        </select>



                    </div>
                </div>


                <div class="control-group">
                    <label class="control-label">รูปแบบการทำงาน</label>
                    <div class="controls">

                        @Html.DropDownList("InventoryTypeCode", (List<SelectListItem>)ViewBag.itemListForDropdowbFactory, "เลือก", new { @class = "input-xlarge", tabindex = "1" })
                  
                     </div>
                </div>


             
                <div class="control-group">
                    <label class="control-label">ช่วงวันที่</label>
                    <div class="controls">
                        <div class="input-prepend">
                            <span class="add-on"><i class="icon-calendar"></i></span>
                            @Html.TextBox("DateRange", (object)ViewBag.DateRange, new  {@class="date-range" })

                        </div>
                    </div>
                </div>



              
                <div class="control-group">
                    <label class="control-label">หมายเลข Invoice/PO</label>
                    <div class="controls">
                        @*<input type="text"  class="input-large" name="ReferenceNumber">*@
                        @*<span class="help-inline">Some hint here</span>*@

                        @Html.TextBox("ReferenceNumber", (object)ViewBag.ReferenceNumber, new { @class = "input-large" })
                    </div>
                </div>
               
                 <div class="form-actions">
                    <button type="submit" class="btn btn-primary">ค้นหา</button>
                    
                  
                </div>
            </form>
        </div>
    </div>


@Html.Partial("InventoryTable")

    






<!-- END Page Title -->
@section scripts {

      <script type="text/javascript" src="@Url.Content("~/assets/bootstrap-daterangepicker/daterangepicker.js")"></script>
      <script type="text/javascript" src="@Url.Content("~/assets/bootstrap-datepicker/js/bootstrap-datepicker.js")"></script>
      <script type="text/javascript" src="@Url.Content("~/assets/bootstrap-daterangepicker/date.js")"></script>


        <script type="text/javascript">

            $('#DateRange').daterangepicker({ format: 'dd-MM-yyyy' });


        </script>



}
