﻿@{
    ViewBag.Title = "InventoryControl";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>InventoryControl</h2>

@section css{





}


<!-- BEGIN Page Title -->
<div class="page-title">
    <div>
        <h1><i class="icon-home"></i>รับสินค้า</h1>
    </div>

</div>



            <div class="box">
    <div class="box-title">
        <h3><i class="icon-reorder"></i> Simple Form</h3>
        <div class="box-tool">
            <a data-action="collapse" href="#"><i class="icon-chevron-up"></i></a>

        </div>
    </div>
    <div class="box-content">
        <form method="post" class="form-horizontal">

            <div class="form-actions">
                <button type="submit" class="btn btn-primary">ค้นหา</button>
                <button type="submit" class="btn btn-primary">บันทึกและทำรายการใหม่</button>
                <button type="submit" class="btn btn-primary">กลับ</button>

            </div>


            <div class="control-group">
                <label class="control-label">โรงงาน</label>
                <div class="controls">
                    <select class="input-large" tabindex="1" name="FactoryCode">
                        @{
                            List<TKFINV.Web.factory> factoryList = (List<TKFINV.Web.factory>)ViewBag.factoryList;
                        }
                        @foreach (var item in factoryList)
                        {
                            <option value="@item.Code">@item.description</option>
                        }

                    </select>



                </div>
            </div>


            <div class="control-group">
                <label class="control-label">รูปแบบการทำงาน</label>
                <div class="controls">

                    @Html.DropDownList("InventoryTypeCode", (List<SelectListItem>)ViewBag.itemListForDropdowbFactory, "เลือก", new { @class = "input-xlarge", tabindex = "1" })


                </div>
            </div>



            @*<div class="control-group">
                <label class="control-label">ช่วงวันที่</label>
                <div class="controls">
                    <div class="input-prepend">
                        <span class="add-on"><i class="icon-calendar"></i></span>
                        @Html.TextBox("DateRange", (object)ViewBag.DateRange, new { @class = "date-range" })

                    </div>
                </div>
            </div>*@




            <div class="control-group">
                <label class="control-label">หมายเลข Invoice/PO</label>
                <div class="controls">
                    @*<input type="text"  class="input-large" name="ReferenceNumber">*@
                    @*<span class="help-inline">Some hint here</span>*@

                    @Html.TextBox("ReferenceNumber", (object)ViewBag.ReferenceNumber, new { @class = "input-large" })
                </div>
            </div>

            <div class="form-actions">
                <button type="submit" class="btn btn-primary">ค้นหา</button>
                <button type="submit" class="btn btn-primary">ทำรายการรับสินค้า</button>

            </div>
        </form>
    </div>
</div>













    <!-- END Page Title -->
    @section scripts {




    }
