﻿<div class="box">
    <div class="box-tool" style="float:right;">
        <a href="@Url.Action("Index","InventoryIn")" class="btn btn-lime">นำสินค้าเข้าคลัง</a>
        <button type="submit" class="btn btn-warning">เบิกสินค้า</button>
    </div>
    <div class="box-content">
        <table class="table table-striped table-hover fill-head">
            <thead>
                <tr>
                    <th>#</th>
                    <th>โรงงาน</th>
                    <th>เลขที่ Inv/Po</th>
                    <th>วันที่</th>
                    <th>ผู้ดำเนินการ</th>
                    <th>ประเภทงาน</th>
                    <th style="width: 150px">Action</th>
                </tr>
            </thead>
            <tbody>
                
                
                
                                @{
                                    int i = 0;
                                    foreach (TKFINV.Web.inventory item in ViewBag.inVentoryList)
                                    {
                                        i++;
                                        <tr>
                                            <td>@i</td>
                                            <td>@item.FactoryCode</td>
                                            <td>@item.referenceNumber</td>
                                            <td>@item.operateDate</td>
                                            <td>@item.createBy</td>
                                            <td>@item.InventoryTypeCode</td>
                                            <td>
                                                <button class="btn btn-primary btn-small" name="Edit"  ><i class="icon-edit"></i> Edit</button>
                                                <a class="btn btn-danger btn-small" href="#"><i class="icon-trash"></i> Delete</a>
                                            </td>
                                            
                                        </tr>
                                        <tr style="display:none;">
                                            <td colspan="7">

                                               
                                            </td>
                                        </tr>

                                    }



                                }
            </tbody>
        </table>
    </div>
</div>

<script>

    $("button[name=Edit]").click(function () {
        var trSource = $(this).parent().parent();
        trSource.hide();
        var trTarget = $(this).parent().parent().next('tr');
        trTarget.show();
        $.ajax({
            url: '@Url.Action("EditInventory", "Inventory")',
            data: { ID: '10' }
        }).done(function (result) {
            trTarget.html(result);
        });

        //alert("Ok");
    });


   

</script>