﻿@using PagedList;
@using PagedList.Mvc;

@{
    var messResult = (TKFINV.Web.Models.MessageResult)ViewBag.MessageAlert;
}

<div id="PartialInputForm"></div>

<div class="row-fluid" style="padding-top: 0px; margin-top: 0px;">
    <div class="span12">

        @if (messResult != null)
        {
            <div>
                @Html.Partial("_PartialAlert", messResult)
            </div>
        }


        <div class="box box-black">
            <div class="box-title">
                <h3><i class="icon-table"></i>User List</h3>
                <div class="box-tool">
                    <a class="btn btn-success btn-large btn-circle show-tooltip" title="Add new record" 
                        href="@Url.Action("Detail", new { rowid = TKFINV.Web.BusinessLogic.UtilsBLL.Encrypt_QueryString("0"), page = @ViewBag.page, keyword = @ViewBag.keyword, keyrole = @ViewBag.keyrole, orderby = @ViewBag.orderby, orderDESC = @ViewBag.orderDESC })">
                        <i class="icon-plus"></i></a>
                    <a data-action="collapse" href="#"><i class="icon-chevron-up"></i></a>
                </div>
            </div>
            <div class="box-content">
                @using (Ajax.BeginForm("Index", null, new AjaxOptions { UpdateTargetId = "unobtrusive" }, new { @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="row-fluid">
                        <div class="span6 ">
                            <!-- BEGIN Left Side -->         
                            <div class="control-group" style="margin-bottom:0px; padding-bottom:5px;">
                                <label for="keyword" class="control-label">User Name</label>
                                <div class="controls">
                                    <input type="text" name="keyword" id="keyword" placeholder="User Name" class="input-xlarge" value="@ViewBag.keyword" />
                                </div>
                            </div>
                            <!-- END Left Side -->
                        </div>
                        <div class="span6 ">
                            <div class="control-group" style="margin-bottom:0px; padding-bottom:5px;">
                                <label for="keyrole" class="control-label">Role</label>
                                <div class="controls">
                                    @Html.DropDownList("keyrole", (List<SelectListItem>)ViewBag.RoleItem, new { @class = "input-xlarge", name = "keyrole" })
                                </div>
                            </div>
                            <!-- BEGIN Right Side -->
                            <button type="submit" class="btn btn-primary" style="float:right; margin-top: 10px;"><i class="icon-search"></i> Search</button>
                            <!-- END Right Side -->
                            <div style="clear: both;"></div>
                        </div>
                                       
                    </div>
                    
                                   
                }

                <table class="table table-advance" style="margin-top: 10px;">
                    <thead>
                        <tr>
                            <th style="width: 18px">#</th>
                            <th>
                                User Name
                                @if (!(ViewBag.orderby == "username" && ViewBag.orderDESC == "false"))
                                { 
                                <a  href="@Url.Action("Index",new { keyword = @ViewBag.keyword, keyrole = @ViewBag.keyrole ,orderby = "username" ,orderDESC = "false"})" data-ajax-update="#unobtrusive" data-ajax-mode="replace" data-ajax="true">
                                    <i class="icon-angle-up"></i>
                                </a>
                                }
                                @if (!(ViewBag.orderby == "username" && ViewBag.orderDESC == "true"))
                                { 
                                <a  href="@Url.Action("Index",new { keyword = @ViewBag.keyword, keyrole = @ViewBag.keyrole ,orderby = "username" ,orderDESC = "true" })" data-ajax-update="#unobtrusive" data-ajax-mode="replace" data-ajax="true">
                                    <i class="icon-angle-down"></i>
                                </a>
                                }
                            </th>
                            <th>
                                First Name
                                @if (!(ViewBag.orderby == "firstName" && ViewBag.orderDESC == "false"))
                                { 
                                <a  href="@Url.Action("Index",new { keyword = @ViewBag.keyword, keyrole = @ViewBag.keyrole ,orderby = "firstName" ,orderDESC = "false"})" data-ajax-update="#unobtrusive" data-ajax-mode="replace" data-ajax="true">
                                    <i class="icon-angle-up"></i>
                                </a>
                                }
                                @if (!(ViewBag.orderby == "firstName" && ViewBag.orderDESC == "true"))
                                { 
                                <a  href="@Url.Action("Index",new { keyword = @ViewBag.keyword, keyrole = @ViewBag.keyrole ,orderby = "firstName" ,orderDESC = "true" })" data-ajax-update="#unobtrusive" data-ajax-mode="replace" data-ajax="true">
                                    <i class="icon-angle-down"></i>
                                </a>
                                }
                            </th>
                            <th>
                                Last Name
                                @if (!(ViewBag.orderby == "lastName" && ViewBag.orderDESC == "false"))
                                { 
                                <a  href="@Url.Action("Index",new { keyword = @ViewBag.keyword, keyrole = @ViewBag.keyrole ,orderby = "lastName" ,orderDESC = "false"})" data-ajax-update="#unobtrusive" data-ajax-mode="replace" data-ajax="true">
                                    <i class="icon-angle-up"></i>
                                </a>
                                }
                                @if (!(ViewBag.orderby == "lastName" && ViewBag.orderDESC == "true"))
                                { 
                                <a  href="@Url.Action("Index",new { keyword = @ViewBag.keyword, keyrole = @ViewBag.keyrole ,orderby = "lastName" ,orderDESC = "true" })" data-ajax-update="#unobtrusive" data-ajax-mode="replace" data-ajax="true">
                                    <i class="icon-angle-down"></i>
                                </a>
                                }
                            </th>
                            <th>
                                Role
                                @if (!(ViewBag.orderby == "ApplicationUserRoleID" && ViewBag.orderDESC == "false"))
                                { 
                                <a  href="@Url.Action("Index",new { keyword = @ViewBag.keyword, keyrole = @ViewBag.keyrole ,orderby = "ApplicationUserRoleID" ,orderDESC = "false"})" data-ajax-update="#unobtrusive" data-ajax-mode="replace" data-ajax="true">
                                    <i class="icon-angle-up"></i>
                                </a>
                                }
                                @if (!(ViewBag.orderby == "ApplicationUserRoleID" && ViewBag.orderDESC == "true"))
                                { 
                                <a  href="@Url.Action("Index",new { keyword = @ViewBag.keyword, keyrole = @ViewBag.keyrole ,orderby = "ApplicationUserRoleID" ,orderDESC = "true" })" data-ajax-update="#unobtrusive" data-ajax-mode="replace" data-ajax="true">
                                    <i class="icon-angle-down"></i>
                                </a>
                                }
                            </th>
                            <th>
                                Email
                                @if (!(ViewBag.orderby == "email" && ViewBag.orderDESC == "false"))
                                { 
                                <a  href="@Url.Action("Index",new { keyword = @ViewBag.keyword, keyrole = @ViewBag.keyrole ,orderby = "email" ,orderDESC = "false"})" data-ajax-update="#unobtrusive" data-ajax-mode="replace" data-ajax="true">
                                    <i class="icon-angle-up"></i>
                                </a>
                                }
                                @if (!(ViewBag.orderby == "email" && ViewBag.orderDESC == "true"))
                                { 
                                <a  href="@Url.Action("Index",new { keyword = @ViewBag.keyword, keyrole = @ViewBag.keyrole ,orderby = "email" ,orderDESC = "true" })" data-ajax-update="#unobtrusive" data-ajax-mode="replace" data-ajax="true">
                                    <i class="icon-angle-down"></i>
                                </a>
                                }
                            </th>
                            <th>
                                Last Login
                                @if (!(ViewBag.orderby == "lastLogin" && ViewBag.orderDESC == "false"))
                                { 
                                <a  href="@Url.Action("Index",new { keyword = @ViewBag.keyword, keyrole = @ViewBag.keyrole ,orderby = "lastLogin" ,orderDESC = "false"})" data-ajax-update="#unobtrusive" data-ajax-mode="replace" data-ajax="true">
                                    <i class="icon-angle-up"></i>
                                </a>
                                }
                                @if (!(ViewBag.orderby == "lastLogin" && ViewBag.orderDESC == "true"))
                                { 
                                <a  href="@Url.Action("Index",new { keyword = @ViewBag.keyword, keyrole = @ViewBag.keyrole ,orderby = "lastLogin" ,orderDESC = "true" })" data-ajax-update="#unobtrusive" data-ajax-mode="replace" data-ajax="true">
                                    <i class="icon-angle-down"></i>
                                </a>
                                }
                            </th>
                            <th>
                                Active
                                @if (!(ViewBag.orderby == "isActive" && ViewBag.orderDESC == "false"))
                                { 
                                <a  href="@Url.Action("Index",new { keyword = @ViewBag.keyword, keyrole = @ViewBag.keyrole ,orderby = "isActive" ,orderDESC = "false"})" data-ajax-update="#unobtrusive" data-ajax-mode="replace" data-ajax="true">
                                    <i class="icon-angle-up"></i>
                                </a>
                                }
                                @if (!(ViewBag.orderby == "isActive" && ViewBag.orderDESC == "true"))
                                { 
                                <a  href="@Url.Action("Index",new { keyword = @ViewBag.keyword, keyrole = @ViewBag.keyrole ,orderby = "isActive" ,orderDESC = "true" })" data-ajax-update="#unobtrusive" data-ajax-mode="replace" data-ajax="true">
                                    <i class="icon-angle-down"></i>
                                </a>
                                }
                            </th>
                            <th style="width: 100px; text-align: right;">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int i = ViewBag.StartRowNumber;
                            foreach (TKFINV.Web.applicationuser item in ViewBag.ListData)
                            {
                                i++;
                                string lastLogin = item.lastLogin.HasValue ? item.lastLogin.Value.ToString("yyyy-MM-dd HH:mm", new System.Globalization.CultureInfo("en-GB")) : "-";
                                
                                <tr>
                                    <td>@i</td>
                                    <td>@item.username</td>
                                    <td>@item.firstName</td>
                                    <td>@item.lastName</td>
                                    <td>@(item.applicationuserrole != null? item.applicationuserrole.description : "")</td>
                                    <td>@item.email</td>
                                    <td>@lastLogin</td>
                                    <td>
                                        @if (item.isActive) 
                                        { 
                                            <span class="label label-success">Active</span>
                                        }
                                        else
                                        {
                                            <span class="label label-important">InActive</span>
                                        }
                                        

                                    </td>
                                    <td style="text-align: right;">
                                        <div class="btn-group">
                                            
                                            <a class="btn btn-primary btn-small show-tooltip" title="Edit" 
                                                href="@Url.Action("Detail", new { rowid = TKFINV.Web.BusinessLogic.UtilsBLL.Encrypt_QueryString(item.ID.ToString()), page = @ViewBag.page, keyword = @ViewBag.keyword, keyrole = @ViewBag.keyrole, orderby = @ViewBag.orderby, orderDESC = @ViewBag.orderDESC })" >
                                                <i class="icon-edit"></i>
                                            </a>

                                            @if (!item.username.Equals("amladmin"))
                                            { 
                                            <a class="btn btn-danger btn-small show-tooltip" title="Delete" 
                                                href="@Url.Action("ConfirmDelete", new { rowid = TKFINV.Web.BusinessLogic.UtilsBLL.Encrypt_QueryString(item.ID.ToString()), description = @item.firstName + " " + @item.lastName, page = @ViewBag.page, keyword = @ViewBag.keyword, keyrole = @ViewBag.keyrole, orderby = @ViewBag.orderby, orderDESC = @ViewBag.orderDESC })" 
                                                data-ajax-update="#PartialInputForm" data-ajax-mode="replace" data-ajax="true">
                                                <i class="icon-trash"></i>
                                            </a>
                                            }

                                        </div>
                                    </td>
                                </tr>
                            }
                         }
                        
                    </tbody>
                </table>

                <div class="row-fluid">
                    <div class="span6 ">
                        <!-- BEGIN Left Side -->         
                        <div class="" style="margin-bottom:0px; padding-bottom:10px; margin-top:0px; padding-top:10px;">
                            <span style="float:left;">Total Record @string.Format("{0:#,###0}", ViewBag.TotalRecords==null?0:ViewBag.TotalRecords)  Record</span>    
                            <div style="clear: both;"></div>
                        </div>
                        <!-- END Left Side -->
                    </div>
                    <div class="span6 ">
                        <!-- BEGIN Right Side -->
                        <div class="" style="float: right;">
                           @Html.PagedListPager((IPagedList)ViewBag.ListData, page => Url.Action("Index", 
                           new { page , keyword = @ViewBag.keyword, keyrole = @ViewBag.keyrole , orderby = @ViewBag.orderby , orderDESC = @ViewBag.orderDESC }), 
                           PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing( new AjaxOptions(){  HttpMethod = "GET", UpdateTargetId = "unobtrusive", OnComplete = "PagedOnComplete" }))
                        </div>
                        <div style="clear: both;"></div>
                        <!-- END Right Side -->
                    </div>
                </div>

                <div id="oncomplete"></div> 
            </div>
        </div>
    </div>
</div>
