﻿@model TKFINV.Web.Models.applicationuserModel
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var title_desc = (Model.ID == 0 ? "Add New User" : "User Detail");
    var messResult = (TKFINV.Web.Models.MessageResult)ViewBag.MessageAlert;
    var curr_user = (TKFINV.Web.Models.LoginUserModel)Session["Appuser"];
    var img_profile = (curr_user.avatarFile == null ? @Url.Content("~/img/demo/avatar/avatar.png") : @Url.Content("~/img/demo/avatar/") + curr_user.avatarFile);
}


@section css{
    <link rel="stylesheet" href="@Url.Content("~/assets/gritter/css/jquery.gritter.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets/chosen-bootstrap/chosen.min.css")" />
}


<!-- BEGIN Page Title -->
@*<div class="page-title">
    <div>
        <h1><i class="icon-group"></i>User Management : @(Model.ID == 0 ? "Add New User" : "User Detail")</h1>
    </div>
</div>*@
<!-- END Page Title -->

<!-- BEGIN Breadcrumb -->
@*<div id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="icon-home"></i>
            <a href="@Url.Action("index", "home")">Home</a>
            <span class="divider"><i class="icon-angle-right"></i></span>
        </li>
        <li class="">
            <a href="@Url.Action("index", new { page = @ViewBag.page, keyword = @ViewBag.keyword, keyrole = @ViewBag.keyrole, orderby = @ViewBag.orderby, orderDESC = @ViewBag.orderDESC })">User</a>
            <span class="divider"><i class="icon-angle-right"></i></span>
        </li>
        <li class="active">@title_desc</li>
    </ul>
</div>*@
<!-- END Breadcrumb -->

<!-- BEGIN Main Content -->
<div id="unobtrusive_detail">

    <div class="row-fluid">
        <div class="span12">
            @if (messResult != null)
            {
                <div>
                    @Html.Partial("_PartialAlert", messResult)
                </div>
            }

            <div class="box box-black">
                <div class="box-title">
                    <h3><i class="icon-reorder"></i>@title_desc</h3>
                    <div class="box-tool">
                        <a data-action="collapse" href="#"><i class="icon-chevron-up"></i></a>
                    </div>
                </div>
                <div class="box-content">
                    @using (Ajax.BeginForm("Detail", null, new AjaxOptions { UpdateTargetId = "unobtrusive_detail" }, new { @class = "form-horizontal form-row-separated user_detail_fr" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(m => m.ID, new { })

                        <input type="hidden" name ="page" value="@ViewBag.page" />
                        <input type="hidden" name ="keyword" value="@ViewBag.keyword" />
                        <input type="hidden" name ="orderby" value="@ViewBag.orderby" />
                        <input type="hidden" name ="orderDESC" value="@ViewBag.orderDESC" />
                        <input type="hidden" name ="rowid" value="@ViewBag.rowid" />
                    
                        
                        
                        <div class="control-group">
                            <label for="username" class="control-label">User Name <span style="color: red;">* </span></label>
                            <div class="controls">
                                @if (Model.ID == 0)
                                {
                                    @Html.TextBoxFor(e => e.username, new { id = "username", placeholder = "User Name", @class = "input-xlarge" }) 
                                }
                                else
                                {
                                    @Html.TextBoxFor(e => e.username, new { id = "username", placeholder = "User Name", @class = "input-xlarge", @readonly = "readonly" })
                                }
                                <br />
                                @Html.ValidationMessageFor(m => m.username)
                            </div>
                        </div>
                        <div class="control-group">
                            <label for="password" class="control-label">Password</label>
                            <div class="controls">
                                @Html.PasswordFor(e => e.password, new { id = "password", placeholder = "Password", @class = "input-xlarge" })
                                <br />
                                @Html.ValidationMessageFor(m => m.password)
                            </div>
                        </div>
                        <div class="control-group">
                            <label for="confirmPassword" class="control-label">Confirm Password</label>
                            <div class="controls">
                                @Html.PasswordFor(e => e.confirmPassword, new { id = "confirmPassword", placeholder = "Confirm Password", @class = "input-xlarge" })
                                <br />
                                @Html.ValidationMessageFor(m => m.confirmPassword)
                            </div>
                        </div>
                        
                        <div class="control-group">
                            <label for="email" class="control-label">Email <span style="color: red;">* </span></label>
                            <div class="controls">
                                @Html.TextBoxFor(e => e.email, new { id = "email", placeholder = "Email", @class = "input-xlarge" })
                                <br />
                                @Html.ValidationMessageFor(m => m.email)
                            </div>
                        </div>
                        
                        <div class="control-group">
                            <label for="firstName" class="control-label">First Name<span style="color: red;">* </span></label>
                            <div class="controls">
                                @Html.TextBoxFor(e => e.firstName, new { id = "firstName", placeholder = "First Name", @class = "input-xlarge" })
                                <br />
                                @Html.ValidationMessageFor(m => m.firstName)
                            </div>
                        </div>
                        
                        <div class="control-group">
                            <label for="lastName" class="control-label">Last Name</label>
                            <div class="controls">
                                @Html.TextBoxFor(e => e.lastName, new { id = "lastName", placeholder = "Last Name", @class = "input-xlarge" })
                            </div>
                        </div>
                        
                        <div class="control-group">
                            <label for="phone1" class="control-label">Phone Number</label>
                            <div class="controls">
                                @Html.TextBoxFor(e => e.phone1, new { id = "phone1", placeholder = "Phone Number", @class = "input-xlarge" })
                            </div>
                        </div>
                        
                        <div class="control-group">
                            <label class="control-label">Role <span style="color: red;">* </span></label>
                            @if (Model.username != null && Model.username.Equals("pcsadmin"))
                            {
                                <div class="controls">
                                    @Html.DropDownListFor(e => e.ApplicationUserRoleID, (List<SelectListItem>)ViewBag.RoleItem, new { @class = "chosen-with-diselect input-xlarge", @disabled = "disabled" })
                                </div>
                            }else
                            {
                                <div class="controls">
                                    @Html.DropDownListFor(e => e.ApplicationUserRoleID, (List<SelectListItem>)ViewBag.RoleItem, new { @class = "chosen-with-diselect input-xlarge" })
                                </div>
                                
                            }

                        </div>
                        
                        <div class="control-group">
                            <label class="control-label">User Status <span style="color: red;">* </span></label>
                            @if (Model.username != null && Model.username.Equals("pcsadmin"))
                            {
                                <div class="controls">
                                    @Html.DropDownListFor(e => e.isActive, (List<SelectListItem>)ViewBag.ActiveItem, new { @class = "chosen-with-diselect input-xlarge", @disabled = "disabled" })
                                </div>
                            }
                            else
                            {
                                <div class="controls">
                                    @Html.DropDownListFor(e => e.isActive, (List<SelectListItem>)ViewBag.ActiveItem, new { @class = "chosen-with-diselect input-xlarge" })
                                </div>
                            }
                        </div>
                        
                        <div class="control-group">
                            <label class="control-label">Your Image</label>
                            <div class="controls">
                                <img id="img_youimage" src="@(Model.avatarFile == null ? Url.Content("~/img/demo/avatar/avatar.png") : Url.Content("~/img/demo/avatar/" + Model.avatarFile))" />
                                <br />
                                @Html.DropDownListFor(e => e.avatarFile, (List<SelectListItem>)ViewBag.AvatarItem, new { @class = "chosen-with-diselect input-xlarge", tabindex="-1", id="selCSI"})
                            </div>
                        </div>
                        
                        <div class="form-actions">
                            <button type="submit" class="btn btn-primary"><i class="icon-ok"></i>Save</button>
                            <button type="reset" class="btn">Clear</button>
                        </div>
                    
                    
                    }

                </div>
            </div>
        </div>
    </div>



</div>
<!-- END Main Content -->
<script src="@Url.Content("~/assets/jquery/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/assets/jquery/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@section scripts {

    <script type="text/javascript" src="@Url.Content("~/assets/chosen-bootstrap/chosen.jquery.min.js")"></script>
    <script src="@Url.Content("~/assets/gritter/js/jquery.gritter.js")"></script>

@*    <script type="text/javascript">
        $(document).ready(function () {
            $("#selCSI").val('@Model.avatarFile');
            $('#selCSI').change(function () {
                var optionSelected = $(this).find("option:selected");
                var valueSelected = optionSelected.val();
                var textSelected = optionSelected.text();
                $('#img_youimage').attr('src', '@Url.Content("~/img/demo/avatar/")' + valueSelected);
            });
        });
    </script>

    @if (messResult != null && messResult.status == AML.JetFuel.Web.Models.MessageStatus.success)
    {
        <script type="text/javascript">
            $(document).ready(function () {
                ondetailComplete('Save @title_desc Complete'
                    , '@messResult.message'
                    , '@img_profile');
            });
        </script>        
    }*@

}
