﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- BEGIN Page Title -->
<div class="page-title">
    <div>
        <h1><i class="icon-group"></i>User Management : User</h1>
    </div>
</div>
<!-- END Page Title -->

<!-- BEGIN Breadcrumb -->
<div id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="icon-home"></i>
            <a href="@Url.Action("index", "home")">Home</a>
            <span class="divider"><i class="icon-angle-right"></i></span>
        </li>
        <li class="active">User</li>
    </ul>
</div>
<!-- END Breadcrumb -->

<!-- BEGIN Main Content -->
<div id="unobtrusive">
    @Html.Partial("_List")
</div>
<!-- END Main Content -->

@section scripts {
    @Html.Partial("~/Views/Shared/_PartialPagedCompleteScript.cshtml")
}

