﻿<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>@ViewBag.Title - Admin</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
    <meta http-equiv="pragma" content="no-cache" />

    @RenderSection("css", required: false)

</head>
<body class="skin-black">
    <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

    <!-- BEGIN Navbar -->
    <div id="navbar" class="navbar">
        <div class="navbar-inner">
            <div class="container-fluid">
                <!-- BEGIN Brand -->
                <a href="#" class="brand">
                    <small>
                        <i class="icon-signal"></i>
                        Poeple Counting System
                    </small>
                </a>
                <!-- END Brand -->

                <!-- BEGIN Responsive Sidebar Collapse -->
                <a href="#" class="btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">
                    <i class="icon-reorder"></i>
                </a>
                <!-- END Responsive Sidebar Collapse -->

                <!-- BEGIN Navbar Buttons -->
                @Html.Partial("~/Views/Shared/_UserProfile.cshtml")
                <!-- END Navbar Buttons -->
            </div>
            <!--/.container-fluid-->
        </div>
        <!--/.navbar-inner-->
    </div>
    <!-- END Navbar -->

    <!-- BEGIN Container -->
    <div class="container-fluid sidebar-gray" id="main-container">
        <!-- BEGIN Sidebar -->
        <div id="sidebar" class="nav-collapse">
            <!-- BEGIN Navlist -->
            @Html.Partial("~/Views/Shared/_Nav_List.cshtml")
            <!-- END Navlist -->

            <!-- BEGIN Sidebar Collapse Button -->
            <div id="sidebar-collapse" class="visible-desktop">
                <i class="icon-double-angle-left"></i>
            </div>
            <!-- END Sidebar Collapse Button -->
        </div>
        <!-- END Sidebar -->

        <!-- BEGIN Content -->
        <div id="main-content">

            @RenderBody()

            <footer>
                <p>@(DateTime.Now.Year) © People Counting System.</p>
            </footer>

            <a id="btn-scrollup" class="btn btn-circle btn-large" href="#"><i class="icon-chevron-up"></i></a>
        </div>
        <!-- END Content -->
    </div>
    <!-- END Container -->
    @RenderSection("scripts", required: false)

</body>
</html>
