﻿@{
    var currentUser = (TKFINV.Web.Models.LoginUserModel)Session["Appuser"];
    var module_group = (currentUser == null ? new List<TKFINV.Web.applicationmodulegroup>() : currentUser.appmodulegrouplist);
    var modules = (currentUser == null ? new List<TKFINV.Web.applicationmodule>() : currentUser.appmodulelist);
    var conname = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString().ToLower() ;
}
<ul class="nav nav-list">
    
    <!-- BEGIN Nav Dynamic -->
    @foreach (var item in module_group)
    {
        
        var item_module = (from q in modules where q.AppModuleGroupID == item.ID orderby q.itemOrder ascending select q).ToList();
        if(item_module != null && item_module.Count > 0)
        {
            if (item.groupName.Equals("Home"))
            {
                foreach (var item_a in item_module)
	            {
		            <li class="@(conname == item_a.moduleName.ToLower()? "active" : "")">
                        <a href="@Url.Action("index", item_a.moduleName)">
                            <i class="@item_a.iconFile"></i>
                            <span>@item_a.description</span>
                        </a>
                    </li>
	            }
            }
            else
            { 
                var active = false;
                foreach (var _a in item_module)
                {
                    if (conname == _a.moduleName.ToLower())
                    {
                        active = true;
                        break;
                    }
                }
                
                <li class="@(active == true ? "active" : "")">
                    <a href="#" class="dropdown-toggle">
                        <i class="@item.iconFile"></i>
                        <span>@item.description</span>
                        <b class="arrow icon-angle-right"></b>
                    </a>

                    <!-- BEGIN Submenu -->
                    <ul class="submenu">
                        @foreach (var item_a in item_module)
	                    {
		                    <li class="@(conname == item_a.moduleName.ToLower()? "active" : "")">
                                <a href="@Url.Action("index", item_a.moduleName)">@item_a.description</a>
		                    </li>
	                    }
                    </ul>
                    <!-- END Submenu -->
                </li>
            }
            
            
            
        }
                       
    }
    <!-- END Nav Dynamic -->

</ul>
