﻿
<script type="text/javascript" src="@Url.Content("~/assets/jquery/jquery.unobtrusive-ajax.min.js")"></script>
<script>
	function PagedOnComplete(obj) {
		console.log(obj);
		var $oncomplete = $('#oncomplete');
		$oncomplete
			.text('โหลดข้อมูลเรียบร้อยแล้ว')
			.css('backgroundColor', 'gray')
			.fadeOut({complete: function () {
				$oncomplete.css('backgroundColor', 'transparent').text('').show();
			}});
	}
</script>
