﻿@model TKFINV.Web.Models.MessageResult


@if (Model != null)
{ 
    <div class="alert alert-@Model.status.ToString()">
        <button class="close" data-dismiss="alert">&times;</button>
        <strong>@Model.status.ToString()!</strong> @Model.message
    </div>
}





