﻿@{
    var currentUser = new TKFINV.Web.Models.LoginUserModel();
    if (Session["Appuser"] != null)
    {
        currentUser = (TKFINV.Web.Models.LoginUserModel)Session["Appuser"];
    }
}
<ul class="nav flaty-nav pull-right">

    <!-- BEGIN Button User -->
    <li class="user-profile">
        <a data-toggle="dropdown" href="#" class="user-menu dropdown-toggle">
            <img class="nav-user-photo" src="@(currentUser.avatarFile == null ? @Url.Content("~/img/demo/avatar/avatar.png") : @Url.Content("~/img/demo/avatar/") + currentUser.avatarFile)" alt="@currentUser.firstName's Photo" />
            <span class="hidden-phone" id="user_info">@currentUser.firstName</span>
            <i class="icon-caret-down"></i>
        </a>

        <!-- BEGIN User Dropdown -->
        <ul class="dropdown-menu dropdown-navbar" id="user_menu">
            <li class="nav-header">
                <i class="icon-time"></i>
                Logined From @(currentUser.lastLogin.HasValue == true? currentUser.lastLogin.Value.ToString("hh:mm:ss tt") : "")
            </li>

            <li>
                <a href="@Url.Action("index","Profile")">
                    <i class="icon-user"></i>
                    Edit Profile
                </a>
            </li>

            <li>
                <a href="#">
                    <i class="icon-question"></i>
                    Help
                </a>
            </li>

            <li class="divider"></li>

            <li>
                <a href="@Url.Action("Logout","Login")">
                    <i class="icon-off"></i>
                    Logout
                </a>
            </li>
        </ul>
        <!-- BEGIN User Dropdown -->
    </li>
    <!-- END Button User -->
</ul>
