﻿<div id="modal-del" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <a class="close" title="ยกเลิก"
            href="@Url.Action("PartialEmpty",new { keyword = @ViewBag.keyword ,orderby = @ViewBag.orderby ,orderDESC = @ViewBag.orderDESC })" 
            data-ajax-update="#PartialInputForm" data-ajax-mode="replace" data-ajax="true">
            ×
        </a>
        <h3 id="H2">ยืนยันการลบข้อมูล</h3>
    </div>
    <div class="modal-body">
         @ViewBag.description       
    </div>
    <div class="modal-footer">
        <a class="btn" 
            href="@Url.Action("PartialEmpty",new { keyword = @ViewBag.keyword ,orderby = @ViewBag.orderby ,orderDESC = @ViewBag.orderDESC })" 
            data-ajax-update="#PartialInputForm" data-ajax-mode="replace" data-ajax="true">
            ยกเลิก
        </a>
        
        <a class="btn btn-danger btn-small show-tooltip"  
            href="@Url.Action("DeleteData",new {rowid=@ViewBag.rowid, page = @ViewBag.page , keyword = @ViewBag.keyword ,orderby = @ViewBag.orderby ,orderDESC = @ViewBag.orderDESC })" 
            data-ajax-update="#unobtrusive" data-ajax-mode="replace" data-ajax="true">
            ลบ
        </a>
    </div>
</div>


<div class="modal-backdrop  in"/>