﻿@model TKFINV.Web.Models.applicationuserroleModel
@{
    ViewBag.Title = "Role Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var title_desc = (Model.ID == 0 ? "Add New Role" : "Role Detail");
    var messResult = (TKFINV.Web.Models.MessageResult)ViewBag.message_result;
    var curr_user = (TKFINV.Web.Models.LoginUserModel)Session["Appuser"];
    var img_profile = (curr_user.avatarFile == null ? @Url.Content("~/img/demo/avatar/avatar.png") : @Url.Content("~/img/demo/avatar/") + curr_user.avatarFile);
}

@section css{
    <link rel="stylesheet" href="@Url.Content("~/assets/gritter/css/jquery.gritter.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets/chosen-bootstrap/chosen.min.css")" />
}

<!-- BEGIN Main Content -->
<div id="unobtrusive_detail">

    <div class="row-fluid">
        <div class="span12">
            @if (messResult != null)
            {
                <div>
                    @Html.Partial("_PartialAlert", messResult)
                </div>
            }
            @using (Ajax.BeginForm("Detail", null, new AjaxOptions { UpdateTargetId = "unobtrusive_detail" }, new { @class = "form-horizontal form-row-separated user_detail_fr" }))
            {
                <div class="box box-black">
                    <div class="box-title">
                        <h3><i class="icon-reorder"></i>@title_desc</h3>
                        <div class="box-tool">
                            <a data-action="collapse" href="#"><i class="icon-chevron-up"></i></a>
                        </div>
                    </div>
                    <div class="box-content">

                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(m => m.ID, new { })

                        <input type="hidden" name ="page" value="@ViewBag.page" />
                        <input type="hidden" name ="keyword" value="@ViewBag.keyword" />
                        <input type="hidden" name ="orderby" value="@ViewBag.orderby" />
                        <input type="hidden" name ="orderDESC" value="@ViewBag.orderDESC" />
                        <input type="hidden" name ="rowid" value="@ViewBag.rowid" />

                        <div class="control-group">
                            <label for="username" class="control-label">User Name <span style="color: red;">* </span></label>
                            <div class="controls">
                                @Html.TextBoxFor(e => e.roleName, new { id = "roleName", placeholder = "Role Name", @class = "input-xlarge" })
                                <br />
                                @Html.ValidationMessageFor(m => m.roleName)
                            </div>
                        </div>
                        <div class="control-group">
                            <label for="password" class="control-label">Description</label>
                            <div class="controls">
                                @Html.TextBoxFor(e => e.description, new { id = "description", placeholder = "Description", @class = "input-xlarge" })
                                <br />
                                @Html.ValidationMessageFor(m => m.description)
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">Role Status <span style="color: red;">* </span></label>
                            <div class="controls">
                                @Html.DropDownListFor(e => e.isActive, (List<SelectListItem>)ViewBag.ActiveItem, new { @class = "chosen-with-diselect input-xlarge" })
                            </div>
                        </div>

                    </div>
                </div>
                
                <div class="box">
                    <div class="box-title">
                        <h3><i class="icon-reorder"></i>Accession</h3>
                        <div class="box-tool">
                            <a data-action="collapse" href="#"><i class="icon-chevron-up"></i></a>
                        </div>
                    </div>
                    <div class="box-content">

                        <div class="control-group">
                            <label style="font-weight: bold;" for="" class="control-label">Module Application</label>
                            <div class="controls">
                                <ul style="list-style-type: none;" class="">
                                    <li style="float: left; margin-right: 20px; width: 200px; padding-bottom: 20px;">
                                        <label class="checkbox inline">
                                            <input id="module_all" type="checkbox" value="" /> Select All
                                        </label>
                                    </li>
                                    <li style="clear: both;"></li>
                                    @foreach (TKFINV.Web.applicationmodulegroup item in ViewBag.ModuleGroupAll)
                                    {
                                        <li style="float: left; margin-right: 20px; padding-bottom: 10px;">
                                            <b><i class="icon-folder-open-alt"></i> @item.description</b>
                                            @{
                                        var ModuleAll = (List<TKFINV.Web.applicationmodule>)ViewBag.ModuleAll;
                                        var modules = new List<TKFINV.Web.applicationmodule>();
                                                if (ModuleAll != null && ModuleAll.Count > 0)
                                                {
                                                    modules = ModuleAll.Where(e => e.AppModuleGroupID == item.ID).ToList();
                                                }
                                             }
                                            @if (modules != null && modules.Count > 0)
                                            { 
                                                <ul style="list-style-type: none;" class="">
                                                    @foreach (TKFINV.Web.applicationmodule item_a in modules)
	                                                {
                                                        var check = Model.moduleList.Where(e => e.ID == item_a.ID).Count() > 0 ? "checked" : "";
                                                        <li style="float: left; margin-right: 20px; width: 200px; padding-bottom: 10px;">
                                                            <label>
                                                                <input type="checkbox" name="appmodule" class="chk_module" value="@item_a.ID" @check />
                                                                <i class="@item_a.iconFile"></i> @item_a.description
                                                            </label>
                                                        </li>
	                                                }
                                                </ul>
                                            }
                                        </li>
                                    }

                                </ul>
                            </div>
                        </div>

                        @*<div class="control-group">
                            <label style="font-weight: bold;" for="" class="control-label">Compamy Branch</label>
                            <div class="controls">
                                <ul style="list-style-type: none;" class="">
                                    <li style="float: left; margin-right: 20px; width: 200px; padding-bottom: 20px;">
                                        <label class="checkbox inline">
                                            <input id="company_all" type="checkbox" value="" /> Select All
                                        </label>
                                    </li>
                                    <li style="clear: both;"></li>
                                    @foreach (TKFINV.Web.company item in @ViewBag.CompamyAll)
	                                {    
                                    <li style="float: left; margin-right: 20px; width: 200px; padding-bottom: 10px;">
                                        <b><i class="icon-briefcase"></i> @item.companyName</b>
                                        @{
                                        var branchAll = (List<TKFINV.Web.branch>)ViewBag.BranchAll;
                                        var branchs = new List<TKFINV.Web.branch>();
                                            if (branchAll != null && branchAll.Count > 0)
                                            {
                                                branchs = branchAll.Where(e => e.CompanyID == item.ID).ToList();
                                            }
                                         }
                                        @if (branchs != null && branchs.Count > 0) 
                                        {
                                            <ul style="list-style-type: none;" class="">
                                                @foreach (var branch in branchs)
                                                {
                                                    var check = Model.branchList.Where(e => e.ID == branch.ID).Count() > 0 ? "checked" : "";
                                                    <li style="float: left; margin-right: 20px; width: 200px; padding-bottom: 10px;">
                                                        <label>
                                                            <input type="checkbox" name="branchapp" class="chk_branch" value="@branch.ID" @check />
                                                            <i class="icon-code-fork"></i> @branch.branchName
                                                        </label>
                                                    </li>
                                                }
                                            </ul>    
                                        }
                                        
                                    </li>
	                                }
                                </ul>
                            </div>
                        </div>*@

                        <div class="form-actions">
                            <button type="submit" class="btn btn-primary"><i class="icon-ok"></i>Save</button>
                            <button type="reset" class="btn">Clear</button>
                        </div>

                    </div>
                </div>
            }
        </div>
    </div>



</div>
<!-- END Main Content -->
<script src="@Url.Content("~/assets/jquery/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/assets/jquery/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@section scripts {

    <script type="text/javascript" src="@Url.Content("~/assets/chosen-bootstrap/chosen.jquery.min.js")"></script>
    <script src="@Url.Content("~/assets/gritter/js/jquery.gritter.js")"></script>

    @if (messResult != null && messResult.status == TKFINV.Web.Models.MessageStatus.success)
    {
        <script type="text/javascript">
            $(document).ready(function () {
                ondetailComplete('Save @title_desc Complete'
                    , '@messResult.message'
                    , '@img_profile');
            });
        </script>        
    }
    <script>var role_id = '@Model.ID';</script>
    <script src="@Url.Content("~/js/approle_detail.js")"></script>

}
