﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css{


    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets/bootstrap-daterangepicker/daterangepicker.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets/bootstrap-datepicker/css/datepicker.css")">

}

@if(ViewBag.Success!=null && (bool)ViewBag.Success)
{ 

    <div class="alert alert-success">
        <button class="close" data-dismiss="alert">×</button>
        <strong>สำรเร็จ!</strong> บันทึกข้อมูลเรียบร้อยแล้ว
    </div>
}

@if (ViewBag.Success != null && (bool)ViewBag.Success == false)
{
    <div class="alert alert-error">
        <button class="close" data-dismiss="alert">×</button>
        <strong>ผิดพลาด!</strong> @ViewBag.ErrorMsg
    </div>
}


<!-- BEGIN Page Title -->
<div class="page-title">
    <div>
        <h1><i class="icon-home"></i>Inventory</h1>
    </div>


</div>

<form method="post" class="form-horizontal">
    
    <div class="box">
        <div class="box-title">
            <h3><i class="icon-reorder"></i> Simple Form</h3>
            <div class="box-tool">
                @*<button type="submit" class="btn btn-warning">กลับ</button>*@
                <a href="@Url.Action("Index","Inventory")" class="btn btn-warning">กลับ</a>
                <button type="submit" class="btn btn-lime">บันทึก</button>

            </div>
        </div>

        <div class="box-content">


            <div class="control-group">
                <label class="control-label">โรงงาน</label>
                <div class="controls">
                    @*<select class="input-large" tabindex="1" name="FactoryCode">
                            @{
                                List<TKFINV.Web.factory> factoryList = (List<TKFINV.Web.factory>)ViewBag.factoryList;
                            }
                            @foreach (var item in factoryList)
                            {
                                <option value="@item.Code">@item.description</option>
                            }

                        </select>*@

                    @Html.DropDownList("FactoryCode", (List<SelectListItem>)ViewBag.factoryList, new { @class = "input-xlarge", tabindex = "1" })




                </div>
            </div>




            <div class="control-group">
                <label class="control-label">หมายเลข Invoice/PO</label>
                <div class="controls">
                    @*<input type="text"  class="input-large" name="ReferenceNumber">*@
                    @*<span class="help-inline">Some hint here</span>*@

                    @Html.TextBox("ReferenceNumber", (object)ViewBag.ReferenceNumber, new { @class = "input-large" })
                </div>
            </div>


            <div class="control-group">
                <label class="control-label">วันที่ในใบส่งสินค้า</label>
                <div class="controls">
                    @*<input class="date-picker" size="16" type="text" value="12-02-2012">*@
                    @Html.TextBox("DateIn", (object)ViewBag.DateIn, new { @class = "date-picker" })
                </div>
            </div>


            @* ตัวอย่างวันที่ *@

            @*<div class="control-group">
                    <label class="control-label">ช่วงวันที่</label>
                    <div class="controls">
                        <div class="input-prepend">
                            <span class="add-on"><i class="icon-calendar"></i></span>
                            @Html.TextBox("DateRange", (object)ViewBag.DateRange, new { @class = "date-range" })

                        </div>
                    </div>
                </div>*@




        </div>
    </div>


    <div class="box box-gray">
        <div class="box-title">
            <h3><i class="icon-table"></i> รายการสินค้า</h3>
            <div class="box-tool">
            </div>
        </div>
        <div class="box-content">
            <table class="table table-striped table-hover fill-head">
                <thead>
                    <tr>
                        
                        <th>#</th>
                        <th>สินค้า</th>
                        <th>ขนาด</th>
                        <th>สถานที่</th>
                        <th>จำนวน</th>
                        <th>หน่วย</th>
                    </tr>
                </thead>
                <tbody>


                    @{
                        for (int i = 1; i <= 5; i++)
                        {
                            <tr>
                              
                                <td>@i</td>
                                <td>@Html.DropDownList("ProductCode", (List<SelectListItem>)ViewBag.productList,"เลือก", new { @class = "input-large", tabindex = "1" })</td>
                                <td>@Html.DropDownList("ProductSizeCode", (List<SelectListItem>)ViewBag.sizetList, "เลือก", new { @class = "input-small", tabindex = "1" })</td>
                                <td>@Html.DropDownList("LocationCode", (List<SelectListItem>)ViewBag.locationList, "เลือก", new { @class = "input-medium", tabindex = "1" })</td>
                                <td><input type="text" class="input-small" name="Quantity"></td>
                                <td>@Html.DropDownList("PackageCode", (List<SelectListItem>)ViewBag.packageList, "เลือก", new { @class = "input-small", tabindex = "1" })</td>


                            </tr>




                        }



                    }


                </tbody>
            </table>
        </div>
    </div>
</form>






<!-- END Page Title -->
@section scripts {

    <script type="text/javascript" src="@Url.Content("~/assets/bootstrap-daterangepicker/daterangepicker.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/assets/bootstrap-datepicker/js/bootstrap-datepicker.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/assets/bootstrap-daterangepicker/date.js")"></script>


    <script type="text/javascript">

            $('#DateRange').daterangepicker({ format: 'dd-MM-yyyy' });


    </script>









}




