﻿@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css{

   

   
}


<!-- BEGIN Page Title -->
<div class="page-title">
    <div>
        <h1><i class="icon-home"></i>Home</h1>
    </div>
</div>
<!-- END Page Title -->


@section scripts {
   
    
    
}
